[submodule "Parallel-Koch-Snowflake"]
	path = Parallel-Koch-Snowflake
	url = https://github.com/drilonaliu/Parallel-Koch-Snowflake
[submodule "Parallel-Sierpinski-Triangle"]
	path = Parallel-Sierpinski-Triangle
	url = https://github.com/drilonaliu/Parallel-Sierpinski-Triangle
[submodule "Parallel-Fractal-Tree"]
	path = Parallel-Fractal-Tree
	url = https://github.com/drilonaliu/Parallel-Fractal-Tree
[submodule "Parallel-Mandelbrot-Set"]
	path = Parallel-Mandelbrot-Set
	url = https://github.com/drilonaliu/Parallel-Mandelbrot-Set
